
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
  width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
  -webkit-flex-direction:column;
  -ms-flex-direction: column;
	justify-content:flex-start;
  -webkit-justify-content:flex-start;
  -ms-flex-pack: start;
 }

.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 2rem 0 2rem;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 13px 0px 7px 0px;
	font-weight: 400;
}
h1{
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	min-width: $min-width;
	text-align:left;
  width: 100%;
	order: 2;
  -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;

	.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 2.2rem;
	}
}

.content-left {
  width: 50%;
  padding-right: 20px;
}

.content-right {
  width: 50%;
  padding-left: 47px;
  padding-right: 113px;
  padding-top: 1.8rem;
}

.content-article__tel {
  color: #333333;
  font-family: $mediun-font-family;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.protocts {
  padding-top: 23px;
}

.protocts__title {
  display: block;
  color: #333333;
  font-family: $normal-font-family;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slider-item-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slider-item-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slider-item-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slick-list {
  position: fixed!important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
}

.slick-track {
  position: fixed!important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.wrapper-my-slider:after{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.85;
}

.products-list__item {
  width: 31%;
  min-height: 133px;
  margin-bottom: 15px;
}

.products-list__img {
  overflow: hidden;

  a {
    display: block;
    width: 100%;

    img {
      width: 100%;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
    }
  }
}

.products-list__img:hover {

  img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.description-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
}

.box-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 4.1rem;
  padding-top: 3px;
  padding-left: 3px;
  margin-right: 5px;
}

.products-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 92%;
  padding-top: 1.5rem;
}

.description-product__icon  {

  .icon-people_1font:before {
    color: #333333;
    font-size: 2.2rem;
  }

  .icon-people_2font:before {
    color: #333333;
    font-size: 2.2rem;
  }
}

.description-product__title {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.93rem;
}

.description-product:hover {

  .icon-people_1font:before,
  .icon-people_2font:before,
  .description-product__title,
  .description-product__line {
    color: #fd6262;
  }
}



/*additional-services*/



.additional-services {
  margin-top: 52px;
}

.additional-services__title {
  font-family: $mediun-font-family;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.93rem;
  text-transform: uppercase;
}

.result {
  margin-bottom: 15px;
}


.result__text {
  color: #333333;
  font-family: $normal-font-family;
  line-height: 2.93rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.result__num {
  color: #333333;
  font-family: $mediun-font-family;
  font-size: 24px;
  line-height: 2.93rem;
  font-weight: 500;
}

.box-field-family {

  .box-field-time__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 210px;
  }
}

.label-show {
  display: none;
}



/**************************@media*************************************/



@media screen and (max-width: 1365px) {

  .box-field-time {
    flex-wrap: wrap;
    margin-bottom: 0;

    .label-second {
      margin-left: 0;
    }

    .label-hiden {
      display: none;
    }

    .label-show {
      display: block;
      width: 111px;
    }

    .box-field-time__wrapper {
      flex-wrap: wrap;
      width: 100%;
    }

    .box-people {
      width: 100%;
      margin-bottom: 20px!important;
    }

    .box-field__input {
      width: 80%;
    }
  }

  .box-checkbox {
    flex-direction: column;
    align-items: flex-start;

    label {
      margin-bottom: 20px;
    }
  }

  .content-right {
    padding-right: 0;
  }

  .result {
    text-align: center;
  }

  .field-rom {
    width: 80%;
  }

  .box-field-family  {

    .box-field-time__wrapper {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1200px) {

  .field-rom {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {

  .type-number.styled_js.select-border.type-number__option {
    width: 100%;
  }

  .content .wrapper {
    justify-content: space-between;
  }
}


@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {

  .content-right,
  .content-left {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .content-right {
    padding-top: 2.8rem;
  }

  .content .wrapper {
    flex-direction: column;
  }

  .content-article__tel {
    display: block;
  }

  .products-list {
    width: 100%;
  }

  .products-list__item {
    width: 30%;
  }

  .field-rom,
  .field-rom .type-number__option {
    width: 100%;
  }

  .box-field-time .box-field__input {
    width: 100%;
  }

  .box-field-email .box-people {
    width: 100%;
  }

  .box-field-tel .box-people {
    width: 100%;
  }

  .box-field-family .box-field-time__wrapper {
    width: 100%;
    justify-content: flex-start;
  }

  .box-field-family .label-second {
    margin-right: 15px;
    margin-left: 15px;
  }

  .box-checkbox {
    flex-direction: row;
    justify-content: space-between;
  }

  .field-rom .type-number__option {

    .type-number__option {
      text-align:  center;
    }
  }

  .field-rom {

    .jq-selectbox__select-text {
      width: 100%!important;
      text-align: center;
    }

    .jq-selectbox__select {
      padding-left: 33px;
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

  .products-list__item {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {

  .box-checkbox {
    flex-direction: column;
    align-items: center;
  }

  .additional-services__title {
    display: block;
    text-align: center;
  }

  .products-list__item {
    width: 100%;
    margin-bottom: 30px;
  }

  .products-list__item:nth-child(1),
  .products-list__item:nth-child(2),
  .products-list__item:nth-child(3) {
    margin-bottom: 30px;
  }

  .box-field-type-number .box-field__label {
    line-height: 1.9rem;
  }
}

@media screen and (max-width: 470px) {

  .protocts__title {
    line-height: 1.9rem!important;
  }
}

@media screen and (max-width: 400px) {

  .box-field-family .box-field-time__wrapper {
    justify-content: space-between;
  }
}
